body {
	background-image: url(../imgs/background.gif);
	background-repeat: repeat;
	background-size: auto 100%;
}

html {
	position: relative;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

body { 
	padding-bottom: 70px; 
}

.matting {
	background-color: #f6f5f2;
	border: 1px solid #eeece6;
	border-radius: 4px;
	min-height: 10em;
}

p {
	font-family: Open Sans Condensed;
	font-size: 1.2em;
}

a {
	font-family: Open Sans Condensed;
}

.clear {
	clear:both;
}

.left {
	float: left;
	width: 48%;
}

.right {
	float: right;
	width: 50%;
}
/* INDEX PAGE */

html, .container-fluid {
  min-height: 100%;
}
.sidebar {
  background-color: #35404F;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #35404F;
  }
}

.index img{
	margin-top: 20px;

}

.index-nav ul {
	list-style: none;
	list-style-position: outside;
	text-align: center;
	margin-top: 2em;
}

.index-nav li {
	margin-left: -2em;
}
.index-nav a {
	font-family: Open Sans Condensed;
	color: #f6f5f2;
	font-size: 1.2em;
	text-decoration: none;
}

.index-nav a:hover {
	color: #7acccc;
}

.index h1 {
	font-family: Open Sans Condensed;
}

/* NON-INDEX NAVBAR */

.navbar-default {
	background: #35404f;
	border-color: #2d3643;
}

.navbar-default .navbar-nav li>a {
	color: #f6f5f2;
	font-family: Open Sans Condensed;
	font-size: 1.2em;
}

.navbar-default .navbar-brand {
	color: #DF5D54;
	font-family: Oswald;
}

.navbar-default .navbar-nav li>a:hover {
	color: #7acccc;
}

.navbar-default .navbar-brand:hover {
	color: #7acccc;
}

/* FOOTER */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #35404f;
	border: 1px solid #2d3643;
	border-radius: 4px;
	min-height: 50px;
}

.footer ul {
	list-style-type: none;
	margin-left: -2em;
	margin-bottom: 0px;
}

.footer li {
	display: inline;
	margin-right: 1em;
}

.footer img {
	max-width: 40px;
	max-height: 40px;
	margin: 10px 10px;
}
.footer.index {
	border: none;
	bottom: auto;
	position: auto;
}

