/* General */
* {
	font-family: Open Sans Condensed;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Oswald;
}

html {
	background: #f6f5f2;
}

.left {
	float: left;
}

.right {
	float: right;
}
/* Header */
header {
	background: #7acccc;
	height: 70px;
	-moz-box-shadow: 0 0 10px #35404f;
	-webkit-box-shadow: 0 0 10px #35404f;
	box-shadow: 0 0 10px #35404f;
}

header ul {
	list-style-type: none;
	float:right;
	margin: 40px 15px 0px 0px;
}

header li {
	display:inline-block;
	margin-left: 15px;
}

header a {
	text-decoration: none;
	color: #35404f;
}
header a:hover {
	color: white;
}

header h1 {
	display: inline-block;
	color: #35404f;
	margin-left: 10px;
}
/* Footer */
footer {
	clear:both;
	background: #35404f;
	width:100%;
}

footer h3 {
	color: #f6f5f2;
	font-family: Open Sans Condensed;
	margin: 5px auto auto 5px;
}

footer ul {
	list-style-type: none;
	text-align: center;
}

footer li {
	display: inline-block;
}

footer img {
	opacity: 0.85;
	margin: auto 15px 10px 15px;
	float:none;
}

footer p {
	text-align: center;
	color: #7acccc;
}
/* Homepage */

.index img {
	float: left;
	margin: 10px;
	width:40%;
}

/* Blog Index */

.blogmain ul {
	list-style-type: none;
	text-align: center;
}

.blogmain li {
	margin:20px auto;
}

.blogmain a {
	font-family: Oswald;
	font-size: 2em;
	text-decoration: none;
	color: #df5d54;
}

.blogmain span {
	display: block;
	font-size: 1.2em;
}

/*Blog Post*/
main {
	margin: 10px;
}

.blog h1, h2, h4 {
	margin:5px auto;
}

.blog a {
	text-decoration: none;
	color: #df5d54;
}

.blog a:hover {
	color: #7acccc;
}

table {
	margin: 40px;
	background: #7acccc;
	border: 1px solid #35404f;
	width: 10em;
	text-align: center;
}

.left table {
	margin-left: 10em;
}

.right table {
	margin-right: 10em;
}

.clear {
	clear: both;
}