/* General */
* {
	font-family: Open Sans Condensed;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Oswald;
}

html {
	background: #f6f5f2;
}

.left {
	float: left;
	width: 40%;
}

.right {
	float: right;
	width: 40%;
}

section {
	font-size: 1.2em;
	padding-right: 2em;
	padding-left: 2em;
}

/* Header */
header {
	background: #7acccc;
	height: 70px;
}

header ul {
	list-style-type: none;
	float:right;
	margin: 40px 15px 0px 0px;
}

header li {
	display:inline-block;
	margin-left: 15px;
}

header a {
	text-decoration: none;
	color: #35404f;
}
header a:hover {
	color: white;
}

header h1 {
	display: inline-block;
	color: #35404f;
	margin-left: 10px;
}
/* Footer */
footer {
	clear:both;
	background: #35404f;
	width:100%;
}

footer h3 {
	color: #f6f5f2;
	font-family: Open Sans Condensed;
	margin: 5px auto auto 5px;
}

footer ul {
	list-style-type: none;
	text-align: center;
}

footer li {
	display: inline-block;
}

footer img {
	opacity: 0.85;
	margin: auto 15px 10px 15px;
	float:none;
	height: 3.5em;
	width: 3.5em;
}

footer p {
	text-align: center;
	color: #7acccc;
}
/* Homepage */

.index img {
	float: left;
	margin: 10px;
	width:80%;
}

/* Blog Index */

.blogmain ul {
	list-style-type: none;
	text-align: center;
}

.blogmain li {
	margin:20px auto;
}

.blogmain a {
	font-family: Oswald;
	font-size: 1.2em;
	text-decoration: none;
	color: #df5d54;
}

.blogmain span {
	display: block;
	font-size: 0.8em;
}

.blogmain h3 {
	text-align: center;
	border-bottom: solid 1.5px #7acccc;
}

/*Blog Post*/
main {
	margin: 3em;
}


.blog h1, h2, h4 {
	margin:5px auto;
}

.blog a {
	text-decoration: none;
	color: #df5d54;
}

.blog a:hover {
	color: #7acccc;
}

table {
	margin: 40px;
	background: #7acccc;
	border: 1px solid #35404f;
	width: 10em;
	text-align: center;
}

.left table {
	margin-left: 10em;
}

.right table {
	margin-right: 10em;
}

.clear {
	clear: both;
}

pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 80%;
    line-height: 1.8em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: .5em .5em;
    background: #f4f4f4;
}

/* Contact Page */
.contact ul {
	list-style-type: none;
	text-align: center;
}

.contact li {
	display: inline-block;
}

.contact img {
	opacity: 0.85;
	margin: auto 15px 10px 15px;
	float:none;
}

.contact figcaption {
	font-family: Oswald;
	font-size: 1em;
	color: #df5d54;
}

/* Project Index */

.projects {
	width: 31%;
	display: block;
	margin: 10px;
	float: left;
}

.projects h3 {
	border-bottom: solid 1.5px #df5d54;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

.projects h5 {
	margin-top: 0px;
	padding-left: 0.5em;
}

.projects p {
	padding-left: 1.5em;
}